.bgImgSlider:before {
  opacity: 0 !important;
}
.bgImgSlider {
  background-image: url("/images/home-slider-bg.webp");
}
.slidertext1 {
  position: relative;
  /* margin-top: 0px; */
  z-index: 5;
  margin-left: 60vh;
}
.slidertext1 h1 {
  font-weight: 700;
  font-size: 46px;
  color: #fff;
  margin-bottom: 25px;
  max-width: 600px;
  /* margin-left: 60vh; */
  line-height: 1.4;
}
.slidertext1 p {
  color: #fff;
  font-weight: 40;
  margin-bottom: 40px;
  max-width: 575px;
  /* margin-left: 60vh; */
}

@media (max-width: 767px) {
  .bgImgSlider:before {
    opacity: 0 !important;
  }
  .bgImgSlider {
    background-image: url("/images/1144home-slider-bg.jpg");
  }
  .slidertext1 {
    margin-top: 0;
    margin-left: 0;
  }
  .slidertext1 h1 {
    font-size: 26px;
    margin-bottom: 18px;
    max-width: 100%;
  }
  .slidertext1 p {
    margin-bottom: 30px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .bgImgSlider:before {
    opacity: 0 !important;
  }
  .bgImgSlider {
    background-image: url("/images/1144home-slider-bg.jpg");
  }
  .slidertext1 {
    margin-top: 0;
    margin-left: 0;
  }
  .slidertext1 h1 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .slidertext1 p {
    margin-bottom: 30px;
    max-width: 100%;
  }
}

/* blog and news pagination style */
.pagination {
  display: inline-block;
  cursor: pointer;
}
.pagination a {
  text-decoration: none;
  color: #000;
  float: left;
  padding: 8px 16px;
}
.pagination1 a.active {
  background-color: #0046c0;
  color: #fff;
}
.pagination1 a:hover:not(.active) {
  background-color: #ddd;
}
.pagination2 a.active {
  background-color: #0046c0;
  color: #fff;
  border-radius: 5px;
}
.pagination2 a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
.pagination3 a {
  transition: background-color 0.3s;
}
.pagination4 a:not(.active) {
  border: 1px solid #ddd;
}
.pagination4 a.active {
  border: 1px solid #0046c0;
}
.pagination5 a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pagination5 a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.pagination6 a {
  margin: 0 4px;
}
.pagination7 a {
  font-size: 22px;
}
.center {
  text-align: center;
}
/* Base styles for the modal video */
.video-wrap {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (adjust as needed) */
  height: 0;
}

.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  /* Adjust the modal video styles for smaller screens */
  .video-wrap {
    padding-bottom: 25%; /* Adjust the aspect ratio for smaller screens */
  }
}
/* ...........................................Main Page, Our Mission Icon svg IMAGE....................................................... */
.values-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
.values-list li {
  display: flex !important;
  padding-left: 0px !important;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}
.values-icon {
  margin-right: 20px;
  font-size: 60px;
  color: #0046c0;
}
.heading-list {
  margin: 0;
}
